* {
	box-sizing: border-box;
}
.row::after{
	content: "";
	clear: both;
	display: table;
}
[class*="col-"]{
	float: left;
	/*padding: 15px;*/
	/*border: 1px solid;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header-top{
	background: url(images/background.jpg);
	/*background-image: url("images/img2.jpg"), url("images/ing.jpg");
	we can also add multiple images using urls*/
	background-color: #cccccc; /*if image is unavailable in any case */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 200px;
	/*background-position: 100% 100%;
	/*background-position: bottom right;*/
}
.image{
	/*border: 2px solid;*/
	position: relative;
	text-align: center;
	color: white;
}
#intro li{
	padding: 5px;
}
/*#txt{
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(-50%, -50%);
}*/
/*media-icons styles*/
.fa{
	padding: 10px;
	font-size: 250px;
	/*width: 50px;*/
	text-align: center;
	text-decoration: none;
	color: black;
	/*background-color: yellow;*/
}
.fa:hover{
	opacity: 0.7;
}
.fa-home{
	
}
